body {
  color: $color-text;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header {
  font-family: cursive;
}
h2 {
  @extend header;
  font-weight: bold;
  color: mix($color-link, $color-link-hover);
}
