nav ul {
  list-style: none;
  padding: 0;
  display: flex; }
  nav ul li {
    margin-right: .5em; }
    nav ul li a {
      background: white;
      padding: .5em;
      transition: .5s;
      border-radius: 15px 0; }
      nav ul li a:hover {
        background: black;
        border-radius: 0 15px; }

body {
  background: #eeeeee;
  color: darkgray;
  margin: 0; }

header, h2,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px; }

.wrapper {
  padding: 1em 0;
  background: #ffffff; }

body {
  color: #333333;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

header, h2 {
  font-family: cursive; }

h2 {
  font-weight: bold;
  color: #ff8000; }

a {
  color: yellow;
  text-decoration: none; }

a:hover {
  color: red; }
